# Mac folder stuff
.DS_Store
# VSCode stuff
.vscode
# Live configs with data
config.yml
# Prevent accidental pushing of keys
*.json
# Don't push __pycache__
__pycache__

test_recipe_app.py 
test.py

.idea/
__init__.py
test_routes.py
old
