{% extends '_base.html' %}
{% block header %}
{% endblock %}
{% block content %}
  <div class="container center">
      <header>
          <h1>Welcome to PlaceTheTaste!</h1>
          <br>
      </header>
  </div>
  <div class="container">

      <p class="center text">Experience recipes from around the world! Map under construction...</p>

      <br>
      <div>
        <table class="container center">
            <th><b>This will be awesome! just you wait ... ... ...</b></th>
            <tr>
                <td><img src="..\branding\ptt_logo_color.jpeg" height="200" width="250"></td>
            </tr>
            <tr>
                <td><img src="..\branding\ptt_logo_black.png" height="250" width="250"></td>
            </tr>
        </table>

          <p class="center">This user has tried over <i><b>4,534,962</b></i> recipes in the past 2 years! Way to go!</p>
      </div>
  </div>
{% endblock %}
