<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container"> <a class="navbar-brand" href="{{ url_for('PTTRequests:view_map_0') }}">
        <i class="fa d-inline fa-lg fa-circle-o"></i>
        <b> Place The Taste</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('PTTRequests:login') }}">Login</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('PTTRequests:create_account') }}">Create Account</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('PTTRequests:post_recipe') }}">Post Recipe</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('PTTRequests:logout') }}">Logout</a> </li>
        </ul>
      </div>
    </div>
  </nav>
<!--  <input type="button" value="btn1" class="btn btn-primary"/>-->
  <header>
<!--     Google Maps API Scripts - INSERT API KEY HERE-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=API_KEY"></script>
    {#

        The header and content areas will be replaced in templates that extend
        this one.

    #}
    {% block header %}{% endblock %}
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <!-- Google Maps API Scripts - INSERT API KEY HERE
  <script
  src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap&libraries=&v=weekly=geometry"
  async
  ></script> -->

</body>

</html>