{% extends '_base.html' %}
{% block header %}
{% endblock %}
{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Login</h1>
          <form class="text-left">
            <div class="form-group"> <label for="form16">Username</label> <input type="text" class="form-control" name="username" id="form16" placeholder="MyUsername" required="required"> </div>
            <div class="form-row">
              <div class="form-group col-md-12"> <label for="form19">Password</label> <input type="password" class="form-control" name="password" id="form19" placeholder="••••" required="required"> </div>
            </div>
            <button type="submit" class="btn btn-primary" formmethod="post">Login</button>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
          </form>

          <form>
            <br>

            {% if enter_code == True %}
              <div class="form-row">
                <div class="form-group col-md-12"> <label for="form20">Please enter the Twilio code you received in the text</label> <input type="password" class="form-control" name="2fa_code" id="form20" placeholder="••••" required="required"> </div>
              </div>
              <button type="submit" class="btn btn-primary" formmethod="post">Enter code</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}