{% extends '_base.html' %}
{% block header %}
  <script>
    var searchInput = 'search_input';

    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
            document.getElementById('loc_lat').value = near_place.geometry.location.lat();
            document.getElementById('loc_long').value = near_place.geometry.location.lng();

        });
    });

    $(document).on('change', '#'+searchInput, function () {
      document.getElementById('latitude_input').value = '';
      document.getElementById('longitude_input').value = '';

    });
  </script>
  <script>

    let base64String = "";
      
      function imageUploaded() {
          var file = document.querySelector(
              'input[type=file]')['files'][0];
        
          var reader = new FileReader();
          console.log("next");
            
          reader.onload = function () {
              base64String = reader.result.replace("data:", "")
                  .replace(/^.+,/, "");
        
              imageBase64Stringsep = base64String;
  
              console.log(base64String);
              document.getElementById('img_string').value = base64String;
              
          }
          reader.readAsDataURL(file);
          document.getElementById('img_string').value = base64String;
      }
        
      function displayString() {
          console.log("Base64String about to be printed");
          alert(base64String);
      }
  </script>

{% endblock %}
{% block content %}
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Post a Recipe</h1>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
          <form class="text-left">
           
            <input type="hidden" id="loc_lat" name="loc_lat">
            <input type="hidden" id="loc_long" name="loc_long">
            <input type="hidden" id="img_string" name="img_string">

            <div class="form-group"> <label for="recipe_name">Recipe Name</label> <input type="text" class="form-control" id="recipe_name" placeholder="My Great Recipe" name="recipe_name" required="required"> </div>
            <div class="form-group"><label>Ingredients</label><textarea class="form-control" id="ingredients" rows="3" placeholder="Please list ingredients (one per line)" name="ingredients"></textarea>
              <div class="form-group"><label>Directions</label><textarea class="form-control" id="directions" rows="3" placeholder="Please List the Directions" name="directions"></textarea></div>
            </div>
            <div class="form-group"><label>Picture</label><input type="file" class="form-control-file" id="recipe_image" placeholder="My Great Recipe" required="required" name="recipe_image" onchange="imageUploaded()"></div>
            <div class="form-group">
              <label for="recipe_location"><b>Location</b></label><br>
              <input type="text" class="form-control" id="search_input" placeholder="Input a location for this recipe to be tied to..." name="recipe_location" required>
              <br>
            </div>
            <div class="form-group"></div><button type="submit" class="btn btn-primary" value="True" name="submit_recipe" formmethod="POST">Submit!</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}